# Making model predictions from vetitver API

In [4]:
import os
import sys

import pins
import rsconnect
import vetiver
import pandas as pd

from vetiver.data import mtcars

Create new data to make predctions with.

In [5]:
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [6]:
new_data = pd.DataFrame.from_records({
    'cyl': [6, 8, 20],
    'disp': [200, 100, 500],
    'hp': [100, 200, 750],
    'drat': [4.0, 2.3, 5.6],
    'wt': [2.5, 4.1, 1.2],
    'qsec': [10.11, 19.12, 17.02],
    'vs': [0, 0, 1],
    'am': [0, 1, 1],
    'gear': [4, 3, 7],
    'carb': [2, 3, 4],
})

new_data

   am  carb  cyl  disp  drat  gear   hp   qsec  vs   wt
0   0     2    6   200   4.0     4  100  10.11   0  2.5
1   1     3    8   100   2.3     3  200  19.12   0  4.1
2   1     4   20   500   5.6     7  750  17.02   1  1.2

Make a prediction using the newly deployed model. First define the model endpoint. Remember to replace `url` with your own URL.

In [7]:
url = "https://colorado.posit.co/rsc/content/c2f189da-7626-48e7-9882-78ee6c49c1b9"
endpoint = vetiver.server.vetiver_endpoint(f"{url}/predict")
endpoint

'https://colorado.posit.co/rsc/content/c2f189da-7626-48e7-9882-78ee6c49c1b9/predict'

Make predcitions using the `vetiver.predict` function.

In [8]:
predictions = vetiver.predict(
    endpoint, 
    new_data,
    headers={
        "Authorization": f"Key {os.getenv('CONNECT_API_KEY')}"
    }
)

predictions

   predict
0     19.7
1     15.2
2     30.4

In [9]:
new_data["predicted-mpg"] = predictions
new_data

   am  carb  cyl  disp  drat  gear   hp   qsec  vs   wt  predicted-mpg
0   0     2    6   200   4.0     4  100  10.11   0  2.5           19.7
1   1     3    8   100   2.3     3  200  19.12   0  4.1           15.2
2   1     4   20   500   5.6     7  750  17.02   1  1.2           30.4