# Jupyter Notebooks

VS Code is great for Jupyter Notebooks.

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv'
df = pd.read_csv(url)

In [3]:
f"This dataframe has {df.shape[0]} rows."

'This dataframe has 344 rows.'

In [4]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [5]:
df[['island', 'species']]

        island    species
0    Torgersen     Adelie
1    Torgersen     Adelie
2    Torgersen     Adelie
3    Torgersen     Adelie
4    Torgersen     Adelie
..         ...        ...
339      Dream  Chinstrap
340      Dream  Chinstrap
341      Dream  Chinstrap
342      Dream  Chinstrap
343      Dream  Chinstrap

[344 rows x 2 columns]